@charset "utf-8";
@import "compass";

$myfont :"Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
$backgray : #f9f8f6;
$gray1 : #887f69; //koi
$gray2 : #b0b0b0;
$winered : #9d1a2d;

html {
  font-size: 62.5%;
  background: $backgray;
  font-family: $myfont;
  background-color: $backgray;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


header{
    text-align: center;
    #header_in{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 4px;
    }
    @media(max-width:550px){
        .logo{
            text-align: center;
        }
        .navi{
            display: none;
        }
    }
    .sp_navi{
        text-align: center;
        a img{
            margin: 7px;
        }
    }
    .sp_navi_btn{
        margin: 7px;
        cursor: pointer;
    }
    .sp_navi_li{
        width: 180px;
        position: absolute;
        top: 80px;
        right: 2%;
        border: 1px solid #eee;
        background: white;
        margin: 2px;
        padding: 0;
        display: none;
        z-index: 100;
        
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block; 
                padding: 10px 8px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }//sp_navi_li
    @media(min-width:550px) {
        .sp_navi {
            display: none;
        }
        #header_in {
            padding: 15px 0 10px 0;
        }
        .pc_navi_li{
            margin: 0 0;
            padding: 0;
            li {
                list-style: none;
                margin: 15px 0 0 0;
                padding: 0;
                a{
                    float: left;
                    padding-right: 10px;
                }
                img:hover{
                    -webkit-transform: scale(0.8);
                    transform: scale(0.8);
                }
            } //li
        }//.pc_navi_li
    }//min-width:550px
}//header

#contents{
    padding-top:10px;
    @media (min-width: 550px) {
        padding-top: 20px;
    }// min-width: 550px
}
#main{
    font-size:62.5%;
}
#cover_area{
    text-align: center;
    padding: 70px;
    max-width: 550px;
    background-image: url("../images/top/ca_banner.jpg");
    background-size: cover;
    @media (min-width: 550px) {
        text-align: left;
        padding: 150px;
      } // min-width: 550px
}//cover_area

.sp_subtitle{
    display: block;
    margin: auto;
    padding: 10px;

    @media(min-width:550px){
        display: none;
    }
}//sub_title
.pc_subtitle{
    display: block;
    width: 100%;
    margin: 20px;
    @media(max-width: 550px){
        display:none;
    }
}//pc_subtitle

.item_boxs{
    color: black;
    width:100%;
    margin: 0;
    padding: 10px;
    display: table;
    table-layout: fixed;
    text-align: left;
    li{
        background-color: white;
        max-width: 45%;
        display: inline-block;
        font-size: 1.0rem;
        text-decoration: none;
        padding:5px;
        @media(max-width:550px){
            .mask , .caption{
                display:none;
            }
        }
        p{
            margin: 1px 0;
        }
    }
    @media (min-width: 550px) {
        li{
            width: 30%;
            height:	auto;
            .item_img{
    	        overflow: hidden;
    	        position: relative;
                .caption {
                	   font-size: 2.0rem;
                	   color: #fff;
                	   font-weight:bold;
                	   text-align:  center;
                	   padding-top: 40%;
                	   letter-spacing: 2px;
                	   
                        }
                .mask {
                	width:	100%;
                	height:	97%;
                	position: absolute;
                	top: 0;
                	left: 0;
                	opacity: 0;
                	background-color: rgba(0,0,0,0.4);
                	-webkit-transform: rotateY(-180deg);
                	transform: rotateY(-180deg);
                	-webkit-transition: all 0.6s ease;
                	transition:	all 0.6s ease;
                }
    
                &:hover .mask {
                	-webkit-transform: rotateY(0deg);
                	transform: rotateY(0deg);
                	opacity: 1;	/* ホバーで表示する */
                }
            }//item_img
        }
    }// min-width: 550px
}//item_boxs


.guide_boxs{
    color: black;
    max-width:100%;
    margin: 0;
    padding: 10px;
    display: table;
    table-layout: fixed;
    text-align: left;
    li{
        background-color: white;
        width: 100%;
        display: inline-block;
        font-size: 1.0rem;
        text-decoration: none;
        padding:5px;
        vertical-align: top;
        .guide_title{
            font-size: 1.2rem;
            color: $gray1;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .guide_sub_title{
            margin: 0;
            font-size:1.0rem;
            color: $gray1;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .guide_sub_title:before{
            content:'■';
        }
        p{
        }
    }
    @media (min-width: 550px) {
        li{
            width: 45%;
            
        }
    }// min-width: 550px
}//guide_boxs

#search{
    color: $gray1;
    text-align: left;
    float: left;
    background-color:white;
    width:100%;
img{
    margin:0 5px;
    width:50%;
    @media (max-width: 550px) {
        display:none;
    }
}
}

.search_bar{
    height:30px;
    padding: 0.5em;
    margin: 10px;
    background: $backgray url("../images/top/search_icon.png") 95% 50% no-repeat;
}


#sidebar{
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 1.0rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.oritatami_box{
    width:100%;
    height:auto;
    margin:0;
	padding:1px 0;
}
.oritatami_title{
    font-weight: bold;
    display:block;
    text-align: left;
    color: white;
    letter-spacing: 2px;
    font-size: 1.0rem;
    height: 40px;
    line-height:40px;
    border: none;
    cursor:pointer;
    background: $gray1 url("../images/top/next_icon.png") 95% 50% no-repeat;
    padding: 0 10px;
    margin:0;
    }
.oritatami{
    display:block;
    margin:0;
    padding:0;
    dl{
        list-style-type:none;
	    display:inline-block;
	    width:94%;
	    margin:0;
	    padding:0;
	    dt{
            font-weight: bold;
            color: black;
            width:100%;
            height:40px;
            line-height:40px;
            text-align:left;
            background: white url("../images/top/next_icon_gray.png") 95% 50% no-repeat;
            border:$backgray 1px solid;
            margin:0;
            padding:0 10px;
	    }
    }
}

.oritatami_title.active{
    background: $gray1 url("../images/top/down_icon.png") 95% 50% no-repeat;
    }
#about , #shopinfo{
    display:inline-block;
    background:white;
}
.about_title , .shop_title{
    clear: both;
    text-align: left;
    background-color: $gray1;
    color: white;
    font-size: 1.0rem;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 2px;
}
.about_image ,.shop_image{
    width:45%;
    float:left;
    margin-right:5px;
}

.about_text ,.shop_text{
    width:48%;
    float: right;
    margin-left: 5px;
    img{
        padding: 15px 5px;
        @media(min-width:550px){
            &:hover{
                -webkit-transform: scale(0.8);
	            transform: scale(0.8);
        }
    }
}

}
footer{
    padding:20px 0;
    img{
        padding:20px 37%;
        border-bottom:solid medium $gray2;
        @media(min-width:550px){
            padding:20px 0 20px 70%;
        }
    }
    ul{
        text-align:center;
    }
    li{
        color: black;
        font-size: 1.2rem;
        display: inline-block;
        &:not(:nth-child(1)):before {
          content:" ・ ";
        }
    }
    .foot_syomei{
        text-align: center;
        font-size: 0.5rem;
        color: $gray2;
    }
}//footer
h1{
    margin: 0;
    padding: 0;
}
//--------------------list.html-------------------------
#cover_area_list{
    text-align: center;
    padding: 40px;
    max-width: 550px;
    background-image: url("../images/list/cate_image_sp.jpg");
    background-size: cover;
    @media (min-width: 550px) {
        background-image: url("../images/list/cate_image.jpg");
        text-align: left;
        padding: 80px;
      } // min-width: 550px
}//cover_area