@charset "UTF-8";
html {
  font-size: 64.5%;
  background: #f9f8f6;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
  background-color: #f9f8f6; }

header {
  text-align: center; }
  header #header_in {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 4px; }
  @media (max-width: 550px) {
    header .logo {
      text-align: center; }
    header .navi {
      display: none; } }
  header .sp_navi {
    text-align: center; }
    header .sp_navi a img {
      margin: 0 5px; }
    header .sp_navi img {
      margin: 0 5px; }
  header .sp_navi_btn {
    margin: 7px;
    cursor: pointer; }
  header .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 80px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 2px;
    padding: 0;
    display: none;
    z-index: 100; }
    header .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        text-decoration: none; }
  @media (min-width: 550px) {
    header .sp_navi {
      display: none; }
    header #header_in {
      padding: 15px 0 10px 0; }
    header .pc_navi_li {
      margin: 0 0;
      padding: 0; }
      header .pc_navi_li li {
        list-style: none;
        margin: 15px 0 0 0;
        padding: 0; }
        header .pc_navi_li li a {
          float: left;
          padding-right: 10px; } }

#contents {
  padding-top: 10px; }
  @media (min-width: 550px) {
    #contents {
      padding-top: 20px; } }

#main {
  font-size: 62.5%; }

#cover_area {
  width: 100%;
  padding: 0; }
  #cover_area img {
    width: 100%; }
  @media (min-width: 550px) {
    #cover_area {
      text-align: left; } }

.sp_subtitle {
  display: block;
  margin: auto;
  padding: 10px; }
  @media (min-width: 550px) {
    .sp_subtitle {
      display: none; } }

.pc_subtitle {
  display: block;
  width: 100%;
  margin: 20px; }
  @media (max-width: 550px) {
    .pc_subtitle {
      display: none; } }

.item_boxs {
  color: black;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: table;
  table-layout: fixed;
  text-align: left; }
  .item_boxs li {
    background-color: white;
    max-width: 45%;
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 5px; }
    @media (max-width: 550px) {
      .item_boxs li .mask, .item_boxs li .caption {
        display: none; } }
    .item_boxs li p {
      margin: 1px 0; }
  @media (min-width: 550px) {
    .item_boxs li {
      width: 31.5%;
      height: auto; }
      .item_boxs li .item_img {
        overflow: hidden;
        position: relative; }
        .item_boxs li .item_img .caption {
          font-size: 2.3rem;
          color: #fff;
          font-weight: bold;
          text-align: center;
          padding-top: 40%;
          letter-spacing: 2px; }
        .item_boxs li .item_img .mask {
          width: 92%;
          height: 97%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.4);
          -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
          -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease; }
        .item_boxs li .item_img:hover .mask {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          opacity: 1;
          /* ホバーで表示する */ } }

.guide_boxs {
  color: black;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  display: table;
  table-layout: fixed;
  text-align: left; }
  .guide_boxs li {
    background-color: white;
    width: 100%;
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 5px;
    vertical-align: top; }
    .guide_boxs li .guide_title {
      font-size: 1.2rem;
      color: #887f69;
      font-weight: bold;
      margin-bottom: 7px; }
    .guide_boxs li .guide_sub_title {
      margin: 0;
      font-size: 1.3rem;
      color: #887f69;
      font-weight: bold;
      margin-bottom: 5px; }
    .guide_boxs li .guide_sub_title:before {
      content: '■'; }
  @media (min-width: 550px) {
    .guide_boxs {
      width: 100%;
      background: white; }
      .guide_boxs li {
        width: 48%; } }

#search {
  color: #887f69;
  text-align: left;
  float: left;
  background-color: white;
  width: 100%; }
  #search img {
    margin: 0 5px;
    width: 50%; }
    @media (max-width: 550px) {
      #search img {
        display: none; } }

.search_bar {
  height: 30px;
  padding: 0.5em;
  margin: 10px;
  background: #f9f8f6 url("../images/top/search_icon.png") 95% 50% no-repeat; }
  .search_bar input {
    background-color: #f9f8f6;
    border: none;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #b0b0b0;
    font-size: 0.8rem;
    text-transform: inherit; }

#sidebar {
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0;
  padding: 0; }

.oritatami_box {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1px 0; }

.oritatami_title {
  font-weight: bold;
  display: block;
  text-align: left;
  color: white;
  letter-spacing: 2px;
  font-size: 1.3rem;
  height: 40px;
  line-height: 40px;
  border: none;
  cursor: pointer;
  background: #887f69 url("../images/top/next_icon.png") 95% 50% no-repeat;
  padding: 0 10px;
  margin: 0; }

.oritatami {
  display: block;
  margin: 0;
  padding: 0; }
  .oritatami dl {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0; }
    .oritatami dl dt {
      font-weight: bold;
      color: black;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: left;
      background: white url("../images/top/next_icon_gray.png") 95% 50% no-repeat;
      border: #f9f8f6 1px solid;
      margin: 0;
      padding: 0; }

.oritatami_title.active {
  background: #887f69 url("../images/top/down_icon.png") 95% 50% no-repeat; }

#about, #shopinfo {
  display: inline-block;
  background: white; }

.about_title, .shop_title {
  clear: both;
  text-align: left;
  background-color: #887f69;
  color: white;
  font-size: 1.3rem;
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 2px; }

.about_image, .shop_image {
  width: 45%;
  float: left;
  margin-right: 5px; }
  @media (min-width: 550px) {
    .about_image, .shop_image {
      width: 100%; } }

.about_text, .shop_text {
  width: 48%;
  float: right;
  margin-left: 5px; }
  @media (min-width: 550px) {
    .about_text, .shop_text {
      width: 100%; } }
  .about_text img, .shop_text img {
    padding: 15px 5px; }
    @media (min-width: 550px) {
      .about_text img, .shop_text img {
        padding: 5% 25%; }
        .about_text img:hover, .shop_text img:hover {
          -webkit-transform: scale(0.8);
          transform: scale(0.8); } }

footer {
  padding: 20px 0; }
  footer img {
    padding: 20px 37%;
    border-bottom: solid medium #b0b0b0; }
    @media (min-width: 550px) {
      footer img {
        padding: 20px 0 20px 70%; } }
  footer ul {
    text-align: center; }
  footer li {
    color: black;
    font-size: 1.5rem;
    display: inline-block; }
    footer li:not(:nth-child(1)):before {
      content: " ・ "; }
  footer .foot_syomei {
    text-align: center;
    font-size: 0.7rem;
    color: #b0b0b0; }

h1 {
  margin: 0;
  padding: 0; }

#cover_area_list {
  text-align: center;
  padding: 40px;
  max-width: 550px;
  background-image: url("../images/list/cate_image_sp.jpg");
  background-size: cover; }
  @media (min-width: 550px) {
    #cover_area_list {
      background-image: url("../images/list/cate_image.jpg");
      text-align: left;
      padding: 80px; } }

.pan_menu {
  padding: 8px 3px;
  margin: 8px 0;
  background-color: #e8e4da;
  color: #887f69;
  letter-spacing: 2px;
  font-weight: bold; }

.back-next-btn {
  height: 40px;
  position: relative; }

.back {
  position: absolute;
  left: 0;
  text-decoration: none;
  margin: 2px;
  color: white;
  background: #887f69;
  padding: 10px 20px;
  left: 3px;
  letter-spacing: 2px; }

.next {
  position: absolute;
  right: 0;
  margin: 2px;
  text-decoration: none;
  color: white;
  background: #887f69;
  padding: 10px 20px;
  letter-spacing: 2px; }

.product_box {
  background: white;
  padding: 10px; }

.product_name {
  color: black;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1px; }

.product_ID {
  color: #b0b0b0;
  font-size: 0.7rem;
  padding-bottom: 15px;
  border-bottom: thin #b0b0b0 solid;
  margin: 5px; }

.product_display_img img {
  width: 100%; }

#product_li_img {
  display: flex;
  flex-wrap: wrap; }
  #product_li_img li {
    list-style: none;
    display: inline-block;
    background: #f9f8f6;
    width: 48px;
    height: 48px;
    padding: 2px; }
    #product_li_img li img {
      width: 48px;
      cursor: pointer; }

@media (min-width: 550px) {
  .product_imgs {
    display: flex; }

  .product_display_img {
    width: 100%; }

  #product_li_img {
    width: 40%;
    display: flex;
    flex-wrap: wrap; }
    #product_li_img li {
      width: 45%;
      background: #f9f8f6;
      padding: 2px;
      margin: 0; }
      #product_li_img li img {
        width: 100%;
        cursor: pointer; } }
.color_size {
  border-top: thin #b0b0b0 solid;
  border-bottom: thin #b0b0b0 solid; }
  .color_size img {
    padding: 10px 0; }

.color_size_table {
  empty-cells: show;
  border-collapse: separate;
  border-spacing: 0;
  line-height: 1.5;
  border-top: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0; }
  .color_size_table th {
    text-align: center;
    width: 32%;
    color: #887f69;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #f9f8f6; }
  .color_size_table td {
    text-align: center;
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da; }

.price, .quantity {
  padding: 10px 0;
  border-bottom: thin #b0b0b0 solid; }

.price_info {
  text-align: center;
  color: #e80f66;
  font-size: 2.2rem;
  font-style: italic;
  padding-left: 35px; }
  .price_info:before {
    content: "￥";
    font-size: 1.5rem; }

@media (min-width: 550px) {
  .p-c-add {
    display: flex; }

  .p-c {
    width: 50%; } }
.tax {
  color: black; }

.pr_qu {
  margin: 0; }

.add_to_cart {
  padding: 15px; }
  @media (min-width: 550px) {
    .add_to_cart {
      display: absolute;
      top: 1px;
      right: 1px; } }

.product_info_text_title {
  font-size: 1.8rem;
  color: #887f69;
  padding: 10px 0;
  border-bottom: thin #b0b0b0 solid;
  font-weight: bold; }

.product_info_text_subtitle {
  font-size: 1.8rem;
  color: #887f69;
  font-weight: bold; }
  .product_info_text_subtitle:before {
    content: "■"; }

.product_info_text {
  color: black; }

/*# sourceMappingURL=sample.css.map */
