@charset "utf-8";
@import "compass";

$myfont :"Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
$backgray : #f9f8f6;
$gray1 : #887f69; //koi
$gray2 : #b0b0b0;
$winered : #9d1a2d;

html {
  font-size: 62.5%;
  background: $backgray;
  font-family: $myfont;
  background-color: $backgray;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


header{
    text-align: center;
    #header_in{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 4px;
    }
    @media(max-width:550px){
        .logo{
            text-align: center;
        }
        .navi{
            display: none;
        }
    }
    .sp_navi{
        text-align: center;
        a img{
            margin: 7px;
        }
    }
    .sp_navi_li{
        width: 180px;
        position: absolute;
        top: 50px;
        right: 2%;
        border: 1px solid #eee;
        background: white;
        margin: 2px;
        padding: 0;
        display: none;
        z-index: 100;
        
        li{
            list-style: none;
            margin: 0;
            padding: 0;
            a{
                display: block; 
                padding: 10px 8px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }//sp_navi_li
    @media(min-width:550px) {
        .sp_navi {
            display: none;
        }
        #header_in {
            padding: 15px 0 10px 0;
        }
        .pc_navi_li{
            margin: 0 0;
            padding: 0;
            li {
                list-style: none;
                margin: 15px 0 0 0;
                padding: 0;
                 a{
                    float: left;
                    padding-right: 10px;
                }
            } //li
        }//.pc_navi_li
    }//min-width:550px
}//header

#contents{
    padding-top:10px;
    @media (min-width: 550px) {
        padding-top: 20px;
    }// min-width: 550px
}
#main{
    font-size:62.5%;
}
#cover_area{
    text-align: center;
    padding: 70px;
    max-width: 550px;
    background-image: url("../images/top/ca_banner.jpg");
    background-size: cover;
    @media (min-width: 550px) {
        text-align: left;
        padding: 150px;
      } // min-width: 550px
}//cover_area

.sp_subtitle{
    display: block;
    margin: auto;
    padding: 10px;

    @media(min-width:550px){
        display: none;
    }
}//sub_title
.pc_subtitle{
    display: block;
    width: 100%;
    margin: 20px;
    @media(max-width: 550px){
        display:none;
    }
}//pc_subtitle

.item_boxs{
    color: black;
    width:100%;
    margin: 0;
    padding: 10px;
    display: table;
    table-layout: fixed;
    text-align: left;
    li{
        background-color: white;
        max-width: 45%;
        display: inline-block;
        font-size: 1.0rem;
        text-decoration: none;
        padding:5px;
        p{
            margin: 1px 0;
        }
    }
    @media (min-width: 550px) {
        li{
            width: 30%;
        }
    }// min-width: 550px
}//item_boxs

.guide_boxs{
    color: black;
    max-width:100%;
    margin: 0;
    padding: 10px;
    display: table;
    table-layout: fixed;
    text-align: left;
    li{
        background-color: white;
        width: 100%;
        display: inline-block;
        font-size: 1.2rem;
        text-decoration: none;
        padding:5px;
        vertical-align: top;
        .guide_title{
            font-size: 1.8rem;
            color: $gray1;
            font-weight: bold;
            margin-bottom: 7px;
        }
        .guide_sub_title{
            margin: 0;
            font-size:1.5rem;
            color: $gray1;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .guide_sub_title:before{
            content:'■';
        }
        p{
        }
    }
    @media (min-width: 550px) {
        li{
            width: 45%;
            
        }
    }// min-width: 550px
}//guide_boxs

#sidebar{
    background-color: white;
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.search{
    color: $gray1;
    text-align: left;
    float: left;
}
.search_icon{
    text-align: right;
}
.search_bar{
    background-color: #eeeeee;
    padding: 0.5em;
    margin: 8px 0;
    border-style: solid;
    border-width: 13px;
    border-color: white;
}
.bar_title{
    text-align: left;
    background-color: $gray1;
    color: white;
    font-size: 1.4rem;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

h1{
    margin: 0;
    padding: 0;
}