@charset "utf-8";

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


header{
    background:$gray_blue;
    #header_in{
        padding-top: 10px;
        padding-bottom:4px;
    }
    @media(max-width:550px){
        .logo{
            width:190px;
        }
        .navi{
            width:40px;
            float:right;
        }
    }
    .sp_navi_li{
        width:180px;
        position:absolute;
        top:50px;
        right:2%;
        border:1px solid #eee;
        background:white;
        margin:0;
        padding:0;
        display:none;
        z-index:100;
        
        li{
            list-style:none;
            margin:0;
            padding:0;
            a{
                display:block; 
                padding:10px 8px;
                border-bottom:1px solid #eee;
                font-size:14px;
                text-decoration:none;
            }
        }
    }//sp_navi_li
    
    @media(min-width:550px){
        .sp_navi{
            display:none;
        }
        #header_in{
            padding:15px 0 10px 0;
        }
        .pc_navi_li{
            margin:0;
            padding:0;
            li{
                list-style:none;
                margin:5px 0 0 0;
                padding:0;
                a{
                    color:#626262;
                    text-decoration:none;
                    font-weight:bold;
                    @include fontsize(14);
                    float: left;
                    padding-right: 10px;
                }
                a:hover{
                    color:$blue1;
                }
            } //li
            li.navi_toppage a{
                background-repeat:no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                background-image: url("../images/top/navi_top.png");
                background-size: 40px 40px;

                @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){
                    background-image: url("../images/top/navi_top@2x.png");
                }
            } //li.navi_toppage a
            li.navi_news a{
                background-repeat:no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                background-image: url("../images/top/navi_news.png");
                background-size: 40px 40px;

                @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){
                    background-image: url("../images/top/navi_news@2x.png");
                }
            }//li.navi_news a
            li.navi_company a{
                background-repeat:no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                background-image: url("../images/top/navi_company.png");
                background-size: 40px 40px;

                @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){
                    background-image: url("../images/top/navi_company@2x.png");
                }
            }//li.navi_company a
        }//.pc_navi_li
    }//min-width:550px
    
    @media(max-width:550px){
        .pc_navi{
            display:none;
        }
    }//max-width:550px
}//header

#cover_area{
    text-align:center;
    padding:80px 0;
    background-image: url("../images/top/cover.jpg");
    background-size:cover;
    
    @media screen and (-webkit-min-device-pixel-ration:2),(min-resolation:2dppx){
        background-image: url("../images/top/cover@2x.jpg");
    }
    @media (min-width: 550px) {
        text-align: left;
        height:420px;
        padding:0;
        img{
          margin-top: 180px;
          margin-left: 70px;
        }
      } // min-width: 550px
}//cover_area

#service_area{
    padding-top:20px;
    @media (min-width: 550px) {
        padding-top: 30px;
    }// min-width: 550px
    
    .columns{
        color: #626262;
        .service_title{
            @include fontsize(18);
            font-weight: bold;
            margin-top: 8px;
        }
        p{
            @include fontsize(15);
            margin-top: 10px;
        }
        @media (min-width: 550px) {
            .service_title{
                @include fontsize(16);
            }
            p{
                @include fontsize(13);
            }
        }// min-width: 550px
  }// .columns
}//#service_area

#news_area{
    background-color:$gray_blue;
    
    @media(min-width:550px){
        .container{
            padding:0px,10%,50px,10%;
        }
    }//min-width:550px
    
    .news_title{
        text-align:center;
        @include fontsize(26);
        color:$blue1;
        padding:15px 0 10px 0;
        font-weight:bold;
        letter-spacing:0.2rem;
    }//news_title
    
    .news_lists{
        li{
            list-style:none;
            @include fontsize(15);
            span{
                color:$blue1;
                font-weight:bold;
                display:block;
                margin-bottom:3px;
            }
        }//li
    }//news_lists
    
    @media(min-width:550px){
        .news_title{
            text-align:center;
            @include fontsize(22);
            color:$blue1;
            padding: 50px 0 41px 0;
            letter-spacing:0.2rem;
        }//news_title
        
        .news_lists{
            li{
                list-style:none;
                @include fontsize(14);
                margin-bottom:20px;
                span{
                    color:$blue1;
                    font-weight:bold;
                    display:inline;
                    margin-bottom:0px;
                }
                
            }//li
        }//news_lists
    }//min-width:550px
    
}//#news_area


footer{
    background-color:$blue1;
    color: #fff;
    padding-top: 20px;
    
    @media (max-width: 550px) {
        .container{
            margin: 0;
            padding: 0;
        }
        .sp{
            padding: 0 6%;
            margin: 0 auto;
        }
        .foot_navi{
            margin-top: 20px;
            li{
                list-style: none;
                margin-bottom: 1px;
                a{
                    color:$blue1;
                    background-color:$gray_blue;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    text-decoration: none;
                    @include fontsize(16);
                    padding: 16px 0;
                }
            } //li
        }// .foot_navi
  }  // max-width: 550px
  
    .foot_address{
        @include fontsize(16);
        padding-top: 10px;
    }
    .copy{
        text-align: center;
        @include fontsize(11);
        color: #b2e1ea;
    }
    @media (min-width: 550px) {
        padding-top: 30px;
        .foot_address{
          padding: 0px;
          @include fontsize(12);
        }
        .foot_navi{
          float: right;
          li{
            list-style: none;
            background-repeat: no-repeat;
            background-position: left center;
    
            display: inline-block;
            float: left;
            margin-right: 10px;
            @include fontsize(11);
            background-image: url("../images/top/foot_arroehead.png");
            background-size: 4px 6px;
            
            @media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx){
              background-image: url("../images/top/foot_arroehead@2x.png");
            }
          }      // li
          a{
            color: white;
            padding-left: 10px;
            text-decoration: none;
          }
          a:hover{
            color:$gray_blue;
          }
        }// .foot_navi
        .copy{
            margin-top: 30px;
        }
    }// min-width: 550px
}// footer

h1{
    margin:0;
    padding:0;
}

#sub_cover{
    text-align:center;
    padding:80px 0;
    background-image: url("../images/news/sub_cover.jpg");
    background-size:cover;
    
    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
        background-image: url("../images/news/sub_cover@2x.jpg");
    }
    h2{
        text-align: center;
        color: white;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
        letter-spacing: 0.2rem;
    }//h2
    @media (min-width: 550px) {
        text-align: left;
        padding:80px 0;
        background-size: cover;
        img{
          margin-top: 180px;
          margin-left: 70px;
        }
        h2{
            text-align: center;
            color: white;
            font-size: 3.2rem;
            font-weight: bold;
            margin: 0;
            letter-spacing: 0.2rem;
        }
      } // min-width: 550px
}//sub_cover

#contents{
    padding-top: 20px;
    #main{
        h2 {
            color: #42b9d0;
            border-bottom: 3px solid #42b9d0;
            font-size: 15px;
            @include fontsize(15);
            font-weight: bold;
            padding-bottom: 15px;
            margin-bottom: 0px;
        }
        th{
            padding:20px 0;
            color:#626262;
            font-size:1.4rem;
            font-weight:bold;
        }
        td{
            text-decoration:none;
            padding: 20px 0;
            color: #626262;
            font-size: 1.4rem;
        }
        .news_li{
            font-size: 1.5rem;
            li{
                list-style: none;
                padding-bottom: 5px; 
                span{
                    display: inline-block;
                    margin-bottom: 0;
                    padding-right: 10px;
                    color: $blue1;
                    font-weight: bold;
                }
            }
        }
    }//main
    #sidebar{
        padding-bottom: 20px;
        .pc_sidemenu {
            h3 {
                color: #42b9d0;
                font-size: 14px;
                font-size: 1.4rem;
                letter-spacing: 0.2rem;
                font-weight: bold;
                background-color: #f3f9fb;
                padding: 15px;
                margin-bottom: 0px;
            }
            li {
                list-style: none;
                display: block;
                border-bottom: 1px solid #e5e5e5;
                background-repeat: no-repeat;
                background-position: 8px center;
                margin-bottom: 0px;
                padding: 10px 10px 10px 20px;
                background-image: url(../images/news/side_arrow.png);
                @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
                background-image: url(../images/news/side_arrow@2x.png);
            }
                background-size: 4px 8px;
            }
            @media(max-width: 550px){
            display:none;
        }
        .fb {
            display: inline-block;
            position: relative;
        }
        }
    }//sidebar
    @media(min-width:550px){
        padding-top: 35px;
        padding-bottom: 70px;
        #main {
            padding-right: 20px;
            h2{
                font-size: 20px;
                font-size: 2rem;
                padding-bottom: 20px;
                .company_title {
                    margin-bottom: 0px;
                }
            }
            th {
                padding-right: 20px;
            }
            td{
                padding: 20px 0;
                color: #626262;
                font-size: 1.4rem;
            }
            .fb_iframe_widget {
                display: inline-block;
                position: relative;
            }
        }
    
    }//min-width:550px
}//contents